.jumbotron{
    background-color:lightgray;
}




body{
    background: seashell;
}

.cardE{
    background: lightskyblue;
}


.cardI{
    background: lightgreen;
}

.cardM{
    background: lightsalmon;
}